node_modules/
.expo/
dist/
web-build/
*.log
.DS_Store
.agents/
*.bak
*.session_bak
.env
.env.local
android/
ios/



expo-env.d.ts

*.p8
AuthKey_QKF4UXM4BD.p8
HealthAI_API_integration_status (1).xlsx
homescreen (5).jpeg
*.jks
*.crdownload
Dockerfile
nginx.conf
.github
eas.json